<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
      <li><a href="http://loli.io" target="_blank" title="天羽ちよこ">天羽ちよこ</a></li>
      <li><a href="http://wilbeibi.com" target="_blank" title="Gates of Janus">Gates of Janus</a></li>
      <li><a href="http://ouxijv.com/blog/" target="_blank" title="ouxijv's Blog">ouxijv's Blog</a></li>
      
    </ul>
</div>